<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="search-form">
    <h4>Run a new search:</h4>
    <form method="POST" th:action="@{/plants/search}">
        <label for="q">Keyword:</label>
        <input type="text" id="q" required name="q"/><br>
        <input type="radio" id="showImages" name="showImages" value="1"/>
        <label for="showImages">Show Images</label><br>
        <input type="radio" id="hideImages" name="showImages" value="0"/>
        <label for="hideImages">Hide Images</label><br>
        <label for="pageSize">Results per page:</label>
        <select name="pageSize" id="pageSize">
            <option selected value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
        <label for="order-field-1">Order by:</label>
        <select name="orderFieldOne" id="order-field-1">
            <option selected value="2">Common Name</option>
            <option value="3">Scientific Name</option>
            <option value="4">Publication Year</option>
            <option value="6">Author</option>
            <option value="5">Bibliography</option>
            <option value="12">Genus</option>
            <option value="13">Family</option>
            <option value="0">Id</option>
            <option value="1">Slug</option>
        </select>
        <br>
        <label for="hideNull2">Hide plants that lack a common name</label>
        <input type="checkbox" name="hideNull" id="hideNull2" value="2"/>
        <br>
        <label for="hideNull4">Hide plants that lack a publication year</label>
        <input type="checkbox" name="hideNull" id="hideNull4" value="4"/>
        <br>
        <label for="hideNull5">Hide plants that lack a bibliography</label>
        <input type="checkbox" name="hideNull" id="hideNull5" value="5"/>
        <br>
        <label for="hideNull6">Hide plants that lack an author</label>
        <input type="checkbox" name="hideNull" id="hideNull6" value="6"/>
        <br>
        <label for="hideNull9">Hide plants that lack a family common name</label>
        <input type="checkbox" name="hideNull" id="hideNull9" value="9"/>
        <br>
        <label for="hideNull11">Hide plants that lack an image url</label>
        <input type="checkbox" name="hideNull" id="hideNull11" value="11"/>
        <br>
        <input type="hidden" name="page" value="1"/>
        <input type="submit" value="Search"/><br>
    </form>
</div>

<div th:fragment="search-result-card-data" class="container">
    <h4 th:text="${plant.commonName}"></h4>
    <i><p th:text="${plant.scientificName}"></p></i>
    <p>Author:
        <span th:if="${plant.author}" th:text="${plant.author}"></span>
        <span th:unless="${plant.author}">Unavailable</span>
    </p>
    <p>Bibliography:
        <span th:if="${plant.bibliography}" th:text="${plant.bibliography}"></span>
        <span th:unless="${plant.bibliography}">Unavailable</span>
    </p>
    <p>Publication year:
        <span th:if="${plant.year}" th:text="${plant.year}"></span>
        <span th:unless="${plant.year}">Unavailable</span>
    </p>
</div>

</body>
</html>