<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Plantopedia</title>
</head>
<body>

<h1>Plantopedia</h1>

<h2>Kingdoms</h2>
<ol>
    <li th:each="kingdom : ${kingdoms}">
        <a th:text="${kingdom.name}" th:href="'https://trefle.io' + ${kingdom.links.self}
        + '?token=' + ${TREFLE_API_TOKEN}" target="_blank"></a>
    </li>
</ol>

<h2>Subkingdoms</h2>
<ol>
    <li th:each="subkingdom : ${subkingdoms}">
        <a th:text="${subkingdom.name}" th:href="'https://trefle.io' + ${subkingdom.links.self}
        + '?token=' + ${TREFLE_API_TOKEN}" target="_blank"></a>
    </li>
</ol>

<h2>Divisions</h2>
<ol>
    <li th:each="division : ${divisions}" th:text="${division.name}"></li>
</ol>

<h2>Classes</h2>
<ol>
    <li th:each="divisionClass : ${divisionClasses}" th:text="${divisionClass.name}"></li>
</ol>

<h2>Orders</h2>
<ol>
    <li th:each="divisionOrder : ${divisionOrders}" th:text="${divisionOrder.name}"></li>
</ol>
<!--<a th:href="'https://trefle.io' + ${divisionOrderPaginationLinks.next} + '&token='-->
<!--+ ${TREFLE_API_TOKEN}" target="_blank">Next page</a>-->

<h2>Families</h2>
<ol>
    <li th:each="family : ${families}" th:text="${family.name}"></li>
</ol>

<h2>Genera</h2>
<ol>
    <li th:each="genus : ${genera}" th:text="${genus.name}"></li>
</ol>

<h2>Plants</h2>
<ol>
    <li th:each="plant : ${plants}">
        <span th:text="${plant.commonName}"></span>
        <i><span th:text="'(' + ${plant.scientificName} + ')'"></span></i>
        <span><img th:src="${plant.imageUrl}"
                   th:alt="${plant.commonName}"
                   width="40"
                   height="40"></span>
    </li>
</ol>

<h2>Species</h2>
<ol>
    <li th:each="specimen : ${species}">
        <span th:text="${specimen.commonName}"></span>
        <i><span th:text="'(' + ${specimen.scientificName} + ')'"></span></i>
    </li>
</ol>

</body>
</html>