<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/plantopedia.css}" rel="stylesheet"/>
    <title>Plantopedia</title>
    <style>
    body {
    background-color: gray;
    }
    a:link {
    color: CaptionText;
    background-color: transparent;
    text-decoration: none;
    }
    a:visited {
    color: CaptionText;
    }
    </style>
</head>
<body>

<h1>Plantopedia</h1>

<h2>Plants</h2>
<ol>
    <li th:each="plant : ${plants}" style="width: 20%">
        <a th:href="@{/get-token/{id}(id=${plant.id})}">
            <div class="card">
                <img th:src="${plant.imageUrl}" th:alt="${plant.commonName}" width="100%">
                <div class="container">
                    <h4 th:text="${plant.commonName}"></h4>
                    <i><p th:text="${plant.scientificName}"></p></i>
                </div>
            </div>
        </a>
    </li>
</ol>

</body>
</html>