<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Plantopedia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style th:replace="~{fragments :: style}">
  </style>
</head>
<body id="myPage" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">Welcome to Plantopedia!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}">HOME</a></li>
        <li><a th:href="@{/search}">SEARCH PLANTOPEDIA</a></li>
        <li><a th:href="@{/}">SIGN IN</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>Plantopedia</h3>
  <p><em>Homepage</em></p>
  <br>
  <p>This page serves as the default page for the Plantoedpia. Once you've gone to the website/downloaded the app, this page is what you'd see.
  <br>This project was done in a collaborative effort for the completion of the LiftOff 2023 program. The individuals who made this project come to fruition are as follows:</p>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Becs Henegar</strong></p><br>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Carnahan Lovewell</strong></p><br>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Julian Amparan</strong></p><br>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Lane Flint</strong></p><br>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong><a href="https://www.linkedin.com/in/micha-clifton/">Micha Clifton</a></strong></p>
    </div>
  </div>
</div>

<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">NOTIFICATIONS</h3>
    <p class="text-center">This serves as a Notification area to update Username123 on their messages, any activity made on their photos, any changes or updates to the site, etc. <br> The section below will just serve as an example of what the potential fully formed product could be.</p>
    <ul class="list-group">
      <li class="list-group-item"><span class="glyphicon glyphicon-cloud"></span><b> Planteopida has been updated to the newest version, 1.5. Read all about it <a th:href="@{/updates}">Here</a></b>!</li>
      <li class="list-group-item"><span class="glyphicon glyphicon-asterisk"></span><b> Details on the plant of the week, the <a href="#">Wild Orchid</a></b>.</li>
    </ul>
  </div>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br>Edited by Liftoff Graduate, Micha Clifton.
</footer>
</body>
</html>
