<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Plantopedia - Search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style th:replace="~{fragments :: style}">
    </style>
</head>
<body id="myPage" data-offset="50">

<nav th:replace="~{fragments :: navbar}">
</nav>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
    <h3>Search</h3>
    <p><em>Plantopedia Search Page</em></p>
    <br>
    <div th:replace="~{fragments :: search-form}"></div>
<!--    <p>This page serves as the place where users can go to search all things that the Plantopedia app will have to offer.</p>-->
</div>

<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br>Edited by Liftoff Graduate, Micha Clifton.
</footer>
</body>
</html>
