<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/plantopedia.css}" rel="stylesheet"/>
    <title>Plantopedia - Search Results</title>
    <style>
    body {
    background-color: gray;
    }
    a:link {
    color: CaptionText;
    background-color: transparent;
    text-decoration: none;
    }
    a:visited {
    color: CaptionText;
    }
    </style>
</head>
<body>

<h1>Plantopedia</h1>

<h2>Search Results</h2>

<div>
    <h3 th:if="${error}" th:text="${error}"></h3>
    <h3 th:unless="${error}"
        th:text="'Your search for \'' + ${q} + '\' returned ' + ${resultCount} + ' plants.'"></h3>
</div>

<div th:replace="~{fragments :: search-form}"></div>

<table>
    <tr>
        <td>
            <h4 th:text="'Page ' + ${page} + ' of ' + ${pageCount}"></h4>
        </td>
        <td th:if="${showImages}">
            <form id="hide_images">
                <input type="hidden" name="page" th:value="${page}"/>
                <button name="showImages" type="submit" formmethod="POST" form="hide_images"
                        value="0" th:formaction="@{/toggle-images}">Hide Images
                </button>
            </form>
        </td>
        <td th:unless="${showImages}">
            <form id="show_images">
                <input type="hidden" name="page" th:value="${page}"/>
                <button name="showImages" type="submit" formmethod="POST" form="show_images"
                        value="1" th:formaction="@{/toggle-images}">Show Images
                </button>
            </form>
        </td>
        <td>
            <form th:action="@{/plants/search/results}" method="POST">
                <label for="page-selector">Jump to page:</label>
                <input id="page-selector" name="page" type="number" value="1"
                       step="1" min="1" th:max="${pageCount}"/>
                <input type="submit" value="Go">
            </form>
        </td>
    </tr>
</table>

<!--<div th:if="${q}">-->
<!--    <form method="POST" th:action="@{/filter-search-results}">-->
<!--        <input type="hidden" name="q" th:value="${q}"/>-->
<!--        <input type="hidden" name="showImages" th:value="${showImages}"/>-->
<!--        <input type="hidden" name="page" value="1"/>-->
<!--        <input th:if="${primaryOrderField}" type="hidden" name="primaryOrderField" th:value="${primaryOrderField}"/>-->
<!--        <input id="hideIfNull1" type="checkbox" name="hideNullCommonNames" value="1"/>-->
<!--        <label for="hideIfNull1">Hide plants without common names</label>-->
<!--        <input type="submit" value="Filter"/>-->
<!--    </form>-->
<!--</div>-->

<ol th:if="${showImages}">
    <li th:each="plant : ${plants}" style="width: 20%">
        <a th:href="@{/species/{id}(id=${plant.id})}">
            <div class="card">
                <img th:if="${plant.commonName != null}"
                     th:src="${plant.imageUrl}"
                     th:alt="${plant.commonName}" width="100%">
                <img th:unless="${plant.commonName != null}"
                     th:src="${plant.imageUrl}"
                     th:alt="${plant.scientificName}" width="100%">
                <div th:replace="~{fragments :: search-result-card-data}">
                </div>
            </div>
        </a>
    </li>
</ol>

<ol th:unless="${showImages}">
    <li th:each="plant : ${plants}" style="width: 20%">
        <a th:href="@{/species/{id}(id=${plant.id})}">
            <div class="card">
                <div th:replace="~{fragments :: search-result-card-data}">
                </div>
            </div>
        </a>
    </li>
</ol>

<div th:unless="${error}">
    <span>
        <a th:href="@{/plants/search/results?page=1}">First</a>
    </span>
    <span th:if="${!isFirstPage}">
        <a th:href="'/plants/search/results?page=' + ${page - 1}">Previous</a>
    </span>
    <span th:if="${!isLastPage}">
        <a th:href="'/plants/search/results?page=' + ${page + 1}">Next</a>
    </span>
    <span>
        <a th:href="'/plants/search/results?page=' + ${pageCount}">Last</a>
    </span>
</div>

<!--<div th:unless="${error}">-->
<!--    <span>-->
<!--        <a th:href="'/parse-pagination-link?' + ${firstLinkQuery} + '&path=' + ${firstLinkPath}-->
<!--        + '&showImages=' + ${showImages} + '&primaryOrderField=' + ${primaryOrderField}">First</a>-->
<!--    </span>-->
<!--    <span th:if="${links.prev}">-->
<!--        <a th:href="'/parse-pagination-link?' + ${prevLinkQuery} + '&path=' + ${prevLinkPath}-->
<!--        + '&showImages=' + ${showImages} + '&primaryOrderField=' + ${primaryOrderField}">Previous</a>-->
<!--    </span>-->
<!--    <span th:if="${links.next}">-->
<!--        <a th:href="'/parse-pagination-link?' + ${nextLinkQuery} + '&path=' + ${nextLinkPath}-->
<!--        + '&showImages=' + ${showImages} + '&primaryOrderField=' + ${primaryOrderField}">Next</a>-->
<!--    </span>-->
<!--    <span>-->
<!--        <a th:href="'/parse-pagination-link?' + ${lastLinkQuery} + '&path=' + ${lastLinkPath}-->
<!--        + '&showImages=' + ${showImages} + '&primaryOrderField=' + ${primaryOrderField}">Last</a>-->
<!--    </span>-->
<!--</div>-->

</body>
</html>